<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <div class="content">
        <div class="board">    
            <table>
                <% for (let i = 0; i < 10; i++) { %>
                <tr>
                    <% for (let j = 0; j < 10; j++) { %>
                    <td>
                        <img class="card" src="images/<%= boardData[i + ',' + j] %>.png" alt="<%= boardData[i + ',' + j] %>">
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>

        <div class="hand">
            
        </div>
    </div>
</body>
</html>
