<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesL.css" />
</head>
<body>
    <div class="landing">
        <div class="background-text"></div>
        <form id="usernameForm" action="/game" method="GET">
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <button type="submit">Start Game</button>
        </form>
    </div>
</body>
</html>