/** Add styles here */
:root {
    --color1: rgb(0, 0, 0);
    --color2: rgb(255, 0, 0);
    --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  }


.gameArea{
    display:flex; 
    flex: 1;
    flex-direction: row;
    width: 100%;
}

.playArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: yellow;
    width: 38%;
}

.Users{
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.UserName{
    background: turquoise;
    height: 30px;
    width: fit-content;
    padding: 5px;
    padding-right: 20px;
    border-radius: 10px;
}


.Hands{
 height: 40%;
 display:flex;
 justify-content: center;
}

.hand_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hand_card:first-child{
    margin-left: 15px;
}

.hand_card {
    position: relative;
    overflow: hidden;
    z-index: 10;
    touch-action: none;

    width: 105px;
    margin-left: -40px;

    border-radius: 5% / 3.5%;
    box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    
    background-color: #040712;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
}

.hand_card:hover {
    box-shadow: 
      -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2), 
      0 0 13px 4px rgba(255,255,255,0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
    
  }

  .hand_card:before,
.hand_card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.hand_card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}

.highlight {
  outline: 5px solid rgb(255, 242, 0); /* Yellow border to highlight the card */
  background-color: rgba(255, 255, 0, 0.3); /* Light yellow background */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Glowing effect */
  transition: all 0.3s ease-in-out; /* Smooth transition for the highlight effect */
  transform: scale(2);
}

.hand_card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
    url(https://assets.codepen.io/13471/holo.png), 
    linear-gradient(125deg, #ff008450 15%, #f0fc0285 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 10;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.hand_card.active:after,
.hand_card:hover:after {
  filter: brightness(1) contrast(1);;
  opacity: 1;
}

.hand_card.active,
.hand_card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.hand_card.active:before,
.hand_card:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.hand_card.active:before,
.hand_card:hover:before,
.hand_card.active:after,
.hand_card:hover:after {
  animation: none;
  transition: none;
}

.hand_card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
  &:before { 
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
}




@keyframes holoSparkle {
  0%, 100% {
    opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
  }
  35%, 38% {
    opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

.content{
    background: rgb(0, 157, 255);
}

.board{
    background: black;
    width: fit-content;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 2.4rem;
    padding-right: 1rem;
    border-radius: 1rem;

}

.card{
    width: 60px;
    transform: rotate(-90deg);
    margin-right: 25px;
    margin-bottom: -30px;
}
